# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: trivy

on:
  pull_request:
    branches: [ "develop", "main", "feature/*", "bugfix/*" ]
  push:
    branches: [ "develop", "main"]

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build an image from Dockerfile
        run: |
          docker build -t quiz-app:${{ github.sha }} .

      - name: Run Trivy vulnerability scanner
        id: image-scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'quiz-app:${{ github.sha }}'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results-image.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Trivy repo scan
        id: repo-scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'

      - name: Fail pipeline if errors found
        if: steps.image-scanner.output.status != 'success' || steps.repo-scan.output.status != 'success'
        run: |
          exit 1